
/* Add your profile image here */
.Photo{
    background-image: url('https://i.imgur.com/601yC0I.jpg');
}

.Uni{
    background-image: url('https://i.imgur.com/601yC0I.jpg');

}
/* Projects Photo */
.project1{
    background-image: url('https://i.imgur.com/HOYssQM.png');
    /* cursor: none;     */
}
.project2{
    background-image: url('https://i.imgur.com/qb76CK6.png');
    /* cursor: none; */
}
.project3{
    background-image: url('https://i.imgur.com/IKgrImS.jpg');
    /* cursor: none; */
}
/* Miscelaneous Activities photo */
.misc1{
    /* background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+one'); */
}

.misc2{
    background-image: url('https://i.imgur.com/V3JX3MM.png');
    /* cursor: none; */
    
}
.misc3{
    background-image: url('https://i.imgur.com/ZFXjWCS.jpg');
    /* cursor: none; */
    
}